header {
  text-align: center;
  font-size: 30px;
  color: #236499;
}

main, html {
  margin: 0;
  padding: 0;
  /* height: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95b8e6;
}

.container {
  text-align: center;
  color: #2f6ea1;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #082d46;
}

h2 {
  text-align: center;
  font-size: 50px;
}

p {
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
}